.post-container img{
  float: left;
}

.post-title {
  float: left;
  left: 10px;
}

.customize-self{
  height: 100px;
  width: 700px;
}

.blank{
  float: left;
}

.intro-header .site-heading h1, .intro-header .page-heading h1 {
  margin-top: 60px;
  font-size: 65px;
}