{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <h3>同じセクション内のページ一覧</h3>

                {{ with .CurrentSection }}
                <ul>
                    {{ range .Pages }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        {{ end }}
                </ul>
                {{ end }}

            </div>
        </div>
    </div>
</article>

{{ end }}