<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
<!-- twittercardtag -->
<!-- twittercard  summary、summary_large_image、app、player -->
    <meta name="twitter:card"           content="summary_large_image">
<!-- OpenGraph -->
    <!-- マークアップにog：type、og：title、og：descriptionが存在するが
        twitter：cardが存在しない場合、サマリーカードがレンダリングされることがある-->
    <meta property="og:type"            content="article">
    <meta property="og:title"           content="{{ .Site.Params.Twittertitle }}" />
    <meta property="og:description"     content="{{ .Site.Params.Description }}" />

<!-- summary、summary_large_image、プレーヤーカードで使用 -->
<!-- twitterユーザー名 -->
    <meta property="twitter:site"        content="{{ .Site.Params.Twitterusername  }}">
<!-- twitterID -->
    <meta property="twitter:site : id"   content="{{ .Site.Params.Twitterid  }}">
<!-- @コンテンツ作成者のユーザー名 --><!-- summary_large_imageカードで使用 -->
    <meta property="twitter:creator"     content="{{ .Site.Params.Creator }}">
<!-- @コンテンツ作成者のユーザーID summary、summary_large_imageカードで使用 -->
    <meta property="twitter:creator:id"  content="{{ .Site.Params.Creatorid }}">
<!-- コンテンツの説明（最大200文字） summary、summary_large_image、プレーヤーカードで使用 -->
    <meta property="twitter:description" content="{{ .Site.Params.Description }}" />
<!-- コンテンツのタイトル（最大70文字） summary、summary_large_image、プレーヤーカードで使用 -->
    <meta property="twitter:title"       content="{{ .Site.Params.Twittertitle }}" />
<!-- カードで使用する画像のURL。画像のサイズは5MB未満。JPG、PNG、WEBP、GIF形式がサポート。
    アニメーションGIFの最初のフレームのみが使用。SVGは非サポート。 -->
<!-- summary、summary_large_image、プレーヤーカードで使用 -->
    <meta property="twitter:image"       content="{{ .Site.BaseURL }}{{ .Site.Params.Twitterthumbnail }}" />





    <!-- <meta property="og:url" content="{{ .Site.BaseURL }}" /> -->
    <!-- <meta property="og:site_name" content="{{ .Site.Title }}"> -->
    <!-- <meta property="og:title" content="{{ .Site.Params.Title }}" /> -->
  
    <!-- <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Thumbnail }}"> -->




    <!-- <meta name="title" content="{{ .Site.Params.Title }}" /> -->
    <!-- <meta name="description" content="{{ .Site.Params.Description }}"> -->
    <!-- <meta name="keyword"  content="{{ .Site.Params.keyword }}"> -->

    <!-- {{ if isset .Params "thumbnail" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail}}"">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" />
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.header_image }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.header_image }}" />
    {{ end }} -->
    <!-- {{ if isset .Params "title" }}
    <meta name="title" content="{{ .Params.Title }}" />
    <meta property="og:title" content="{{ .Params.Title }}" />
    <meta property="twitter:title" content="{{ .Params.Title }}" />
    {{ else }} -->
    <!-- {{ end }} -->
    <!-- {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta property="twitter:description" content="{{ .Params.description }}" />
    {{ else }} -->
    <!-- {{ end }} -->

    <!-- {{ if .Params.summary }}
    <meta property="twitter:card" content="{{ .Params.summary }}" />
    {{ else }}
    <meta property="twitter:card" content="summary" />
    {{ end }} -->

   
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">
    <title>{{ if .Title }}{{ .Title }}-{{ .Site.Params.SEOTitle }}{{ else }}{{ .Site.Params.SEOTitle }}{{ end }}</title>
    <link rel="canonical" href="{{ .URL | relURL }}">
    <link rel="stylesheet" href="{{ "css/iDisqus.min.css" | relURL }}"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
    <!-- Hux CSS -->
    <link rel="stylesheet" href="{{ "css/hux-blog.min.css" | relURL }}">
    <!-- zangshang CSS -->
    <link rel="stylesheet" href="{{ "css/zanshang.css" | relURL }}">
    <!-- Custom Fonts -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" type="text/css">

<!-- カスタムCSS -->
    <!--  Custom CSS  -->
    <link rel="stylesheet" href="{{ "css/custom_post.css" | relURL }}">

    <!-- {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }} -->

    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    -->
    <!-- jQuery -->
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>

    <!-- Hux Theme JavaScript -->
    <script src="{{ "js/hux-blog.min.js" | relURL }}"></script>

    <!-- Custom JS -->
    {{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
    {{ end }}

    <!-- {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }} -->
</head>
