<!-- Sidebar Container -->
<div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    sidebar-container
">
    <!-- Featured Tags -->
    {{ if .Site.Params.featured_tags }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h4 class="tags_h4">FEATURED TAGS</h4>
        <div class="tags">
            {{ $featured_condition_size := .Site.Params.featured_condition_size }}
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
            <a href="{{ " /tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                {{ $name }}
            </a>
            {{ end }}
            {{ end }}
        </div>
    </section>
    {{ end }}




    <hr class="hidden-sm hidden-xs">

    <!-- コンテンツ セクション項目 -->
    <h4 class="section_h4">Category（Section）</h4>
    <div class="tags">
        {{ range .Sections }}
        <a href="{{.Permalink}}">{{ .Section }} ({{ len .RegularPagesRecursive }})</a>
        {{ end }}
    </div>





    <!-- Short About -->
    {{ if .Site.Params.about_me }}
    <section class="visible-md visible-lg">
        <hr>
        <h4><a href="{{ " /top/about" | relLangURL }}">ABOUT ME</a></h4>
        <div class="short-about">
            {{ with .Site.Params.sidebar_avatar }}
            <a href="{{ " /top/about" | relLangURL }}">
                <img src="{{ . | relURL }}" alt="avatar" style="cursor: pointer" />
            </a>
            {{ end }}
            {{ with .Site.Params.sidebar_about_description }}
            <p>{{ . }}</p>
            {{ end }}
            {{ end }}
        </div>
    </section>
</div>